<% query.view_options.each_key do |voption| -%>
  <tr>
    <td><%= query.caption_for_view_option( voption) %></td>
    <td><%= select_tag( "view_options[#{voption}]",
      options_for_select( query.values_for_view_option( voption),
      query.view_options[voption])) %></td>
  </tr>
<% end %>
